<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="db"
      connectionString="Server=.;Database=Proiect;Trusted_Connection=true; Connect Timeout =30; MultipleActiveResultSets=True" />
    <add name="ConnName" connectionString="Data Source=.;Initial Catalog=Proiect;Persist Security Info=True;User ID=Diana;Password=semperfi;Connect Timeout=1000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>